
.logo {
  margin-left: 150px;
}
body {
  font-family: 'Lato', sans-serif;
}
#wrapper{
  background: #e2e2e2;
}
.item {
  &_wrapper {

  margin: 0 0 0;
  width: 1440px;


  }
}
.item_component {
  display: flex;
  flex-direction: row;
}
.item_component__img01 {
  margin-top: 25px;
  margin-left: 150px;
  position: relative;
}
q.quote01 {
  position: absolute;
  quotes: none;
  color: white;
  font-size: 36px;
  font-style: italic;
  max-width: 470px;
  display: block;
  bottom: 68px;
  left: 32px;
}

.item_component__img02 {
  margin-top: 25px;
  max-width: 359px;
  margin-left: 10px;
  position: relative;

}
q.quote02 {
  position: absolute;
  quotes: none;
  color: white;
  width: 243px;
  line-height: normal;
  font-size: 26px;
  font-style: italic;
  top: 157px;
  left: 32px;
}
.item_top {
  max-width: 359px;
  background: #d0dfda;
  height: 250px;
  margin-top: 10px;
  display: flex;
 align-items: center;
 position: relative;
}
  p.item_top {
    font-family: Lato;
    font-size: 26px;
    font-style: italic;
    margin-left: 20px;
    max-width: 270px;
}

.button {
position: absolute;
bottom: 33px;
left: 33px;
color: #4a4a4a;
text-decoration: none;
display: inline-block;
font-size: 11px;

}
.scroll {
  overflow: auto;
}

.item_component__price {
  @extend %font-large;

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
li {
  background: #f3f3f1;
  margin: 36px 30px 0 0;
}

li.style01 {
  background: #f3f3f1;
}

li.style02 {
  background: white;
}

li.size01 {
  width: 258px;
  height: 458px;
}

li.size02 {
width: 552px;
height: 458px;
}
li.style03 {
  background: #eefafc;
}
li.style04 {
  background: #f4e6dc;
}
